body {
    font-family: "Roboto";
}

header>nav:nth-child(1) {
    padding: 0;
    border-bottom: 2px solid #ffe01a;
}

header>nav:nth-child(1) a {
    font-size: .8rem;
}

header>nav:nth-child(1) i {
    color: #ffe01a;
}

.btn-cdr-yellow {
    color: #000;
    background-color: #ffe01a;
    border-color: #e2c508;
}

.btn-cdr-yellow:hover {
    background-color: #ffca2c;
    border-color: #e2c508;
}

.basket-link {
    color: #111821;
    margin-right: 10px;
}

.basket-link>i {
    color: #111821;
    margin-right: 10px;
}

.badge-notification {
    position: absolute !important;
    top: 14px !important;
    margin-left: -1.5em;
    margin-top: -.3em;
    padding: .2em .45em;
    font-size: .6em;
}

.featured-card {
    position: relative;
    background-color: #ffe01a;
    color: #414141;
    min-height: 350px;
    max-height: 350px;
}

.featured-card i {
    font-size: 4rem;
}

.featured-card p {
    font-size: .9em;
}

.featured-card a {
    text-decoration: none;
    color: #414141
}

.featured-card a>i {
    font-size: 1em;
}

.featured-card:hover,
.featured-card:hover a {
    background-color: #414141;
    color: #ffe01a;
}